/* @import url(https://fonts.googleapis.com/css2?family=Ewert&family=Ultra); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Toto:wght@600&family=Old+Standard+TT:wght@700&display=swap');



body {
    /* background-image: url("https://c1.wallpaperflare.com/preview/907/581/284/backdrop-background-blank-board.jpg"); */
    /* background-image: url("https://images.unsplash.com/photo-1581281863883-2469417a1668?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Z29yaWxsYXxlbnwwfHwwfHw%3D&w=1000&q=80"); */
    /* background-image: url("https://freevector-images.s3.amazonaws.com/uploads/vector/preview/41144/FreeVectorCowboy_Background_in_the_Desert_WW0422_generated.jpg"); */

    /* background-image: url("https://i.pinimg.com/originals/a1/33/bd/a133bdb6723cc29d4775d13070447c9e.jpg");  */
    /* filter: sepia(60%); */
    background-repeat: repeat;
    background-size: cover;
    /* color: #5C4033; */
    /* color: #291200; */
    /* min-height: 50rem; */
    background-attachment: fixed;
    background-width: 100%;
    /* scale: auto; */
}

main {
    color: #5C4033;
    display: flex;
    font-family: "Ultra", serif;
    height: 40vh;
    margin: auto .6rem;
    /* min-height: 20.15rem; */
}

h1 {
    color: #5C4033;
    font-family: "Rye";
    font-size: 60px !important;
    /* font-weight: normal; */
}

em {
    font-family: 'Noto Serif Toto', serif;
    font-style: normal;
    color: #5C4033;
    font-size: 17px;
    margin-top: 80%;
}

h2 {
    font-family: "Rye";
    color: #5C4033;
    font-size: 15rem;
    margin: .7rem auto .55rem auto;
}

.icon {
    font-size: 3rem;
    color: #5C4033;
}

.emblem {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    /* align-content: space-around;  */
    gap: 10px;
}

.hr-line1 {
    width: 80%;
    position: center;
    text-align: middle;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    /* margin: 20px; */
    border-bottom: 3px groove #5C4033;
    /* transform: scaleX(5) scaleY(1); */
}

.hr-line2 {
    width: 75%;
    position: center;
    text-align: middle;
    margin-left: 13%;
    margin-right: 5%;
    margin-bottom: 3%;
    /* margin: 20px; */
    border-bottom: 3px groove #5C4033;
    /* transform: scaleX(5) scaleY(1); */
}

.hr-icon {
    position: center;
    top: 3px;
}

.topics {
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    /* align-content: space-around;  */
    gap: 10px;
    flex-wrap: wrap;
}


.poster {
    /* background-image: url("https://img.freepik.com/premium-photo/old-parchment-paper-texture-background-vintage-wallpaper_118047-11703.jpg?w=2000"); */
    background-color: #e9d7bd;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* box-shadow: .125rem .25rem .5rem .1875rem #000; */
    box-sizing: border-box;
    height: 47rem;
    margin: 1rem auto;
    /* padding: "25px"; */
    text-align: center;
    width: 30rem;
    border-radius: 25px;
    transition: all .2s ease-in-out;

    /* transform: scale(0.9); */
}

.poster:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.box {
    transition: all .2s ease-in-out;
}

.box:hover {
    /* background-color: #f0f3f5; */
    transform: scale(1.01);
    border-radius: 25px;

    /* cursor: pointer; */
}

.subheading {
    font-size: 1.34rem;
    margin: 1rem auto .48rem auto;
}

.bug {
    background-image: url("https://ibb.co/grz29Mg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: .125rem ridge rgba(92, 64, 51);
    display: inline-block;

    /* filter: sepia(60%); */
    height: 19.1rem;
    opacity: .9;
    /* padding: .3rem; */
    width: 17.5rem;
}

.buggy {
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    height: auto;
    border: solid black 2px;
    /* filter: sepia(60%); */
    filter: opacity(50%);
    scale: 0.8;
}

.buggy-no-bkg {
    margin-top: 6%;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    height: auto;
    /* border: solid black 2px; */
    filter: sepia(100%);
    filter: opacity(80%);
    scale: 1.3;
}

.buggy-no-bkg-2 {
    width: 130px;
}

.name {
    font-family: "Noto Serif Toto";
    color: #5C4033;
    font-size: 25px;
    /* margin: .7rem */
    margin-left: 15%;
    margin-right: 15%;
}

.header-wanted {
    font-size: 90px
}

@media only screen and (max-width: 30rem) {
    body {
        min-height: 35.025rem;
        min-width: 100%;
    }

    main {
        height: auto;
        margin: 5.5rem auto;
        min-height: 35.025rem;
        width: auto;
    }

    .poster {
        background-size: 20.438rem 32.625rem;
        height: 32.625rem;
        width: 20.438rem;
    }

    .mugshot {
        height: 13.01rem;
        width: 11.92rem;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeOut {
    animation: fadeOut 500ms ease-out forwards;
}

.hidden {
    display: none !important;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}